// Utilities
@import "../utilities/variables";

footer {
   background: $brand_color;
   max-height: 50px;
   text-align: center;
   padding-left: 4rem;
   padding-right: 4rem;
   line-height: 50px;
   color: white;
   font-size: 0.65em;

   p {
      margin-block-start: 0;
      margin-block-end: 0;
   }
}

@media only screen and (max-width: 600px) {}