// Utilities
@import "../utilities/variables";

header {
    min-height: 10vh;
}

nav {
    background-color: $brand_color;
    padding: 2rem;
    height: 100%;
    font-family: $font_menu;
    font-weight: 900;

    ul {
        display: flex;
        max-width: 500px;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        padding-left: 4rem;
        padding-right: 4rem;
        margin: auto;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.2rem;

                &:hover {
                    border-bottom: 2px solid white;
                }

                &.active {
                    border-bottom: 2px solid $accent_color;
                    color: $accent_color;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        ul {
            visibility: hidden;
        }
    }
}