/*
   Google Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap');

/*
   Utilities
*/
@import "utilities/variables";

html, body {
   font-family: $font_standard;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   height: 100%;
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

p > img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
}

@media only screen and (max-width: 600px) {
   p > img {
      width: 90%;
   }
}